
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1502210710906'); /* IE9*/
  src: url('iconfont.eot?t=1502210710906#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1502210710906') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1502210710906') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502210710906#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-favorfill:before { content: "\e64b"; }

.icon-favor:before { content: "\e64c"; }

.icon-commentfill:before { content: "\e666"; }

.icon-comment:before { content: "\e667"; }

.icon-home:before { content: "\e6b8"; }

.icon-homefill:before { content: "\e6bb"; }

.icon-markfill:before { content: "\e730"; }

.icon-mark:before { content: "\e731"; }

.icon-peoplefill:before { content: "\e735"; }

.icon-people:before { content: "\e736"; }

.icon-attention_light:before { content: "\e7f4"; }

