@import './_base.scss';

/*头部导航*/
.mint-header {
  height: 50px;
  background-color: $main-color;
  img {
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*底部导航*/
.mint-tabbar {
  background-color: #333;
  > .mint-tab-item {
      padding: 10px 0;
      i {
        font-size: 30px;
        color: #fff;
      }

      &.is-selected {
        background-color: transparent;

        i {
            color: $selected-color;
        }
      }
    }
}